In [55]:
import sqlite3
import psycopg2
import pandas as pd

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="postgres",
    user="postgres",
    password="SibelEbruBrigitte869867*"
)


# SQL-Abfrage ausführen und Daten in einen Pandas-DataFrame laden

query_1 = "SELECT * FROM bestellungen"
df = pd.read_sql(query_1, conn)
print(query_1)

query_2 = "SELECT * FROM kundeninfo"
df_1 = pd.read_sql(query_2, conn)
print(query_2)

query_3 = "SELECT * FROM produkt_klasse"
df_2 = pd.read_sql(query_3, conn)
print(query_3)

query_4 = "SELECT * FROM produkte"
df_3 = pd.read_sql(query_4, conn)
print(query_4)



# Verbindung zur Datenbank schließen
conn.close()
# Den DataFrame anzeigen
print(df.head())

SELECT * FROM bestellungen
SELECT * FROM kundeninfo
SELECT * FROM produkt_klasse
SELECT * FROM produkte
   bestellid  kundenid  produktid  menge bestelldatum
0          1        21         28      6   30.09.2022
1          2        14         18      7   06.02.2023
2          3         9         41      4   16.12.2022
3          4        13         14      8   31.07.2022
4          5         9         27      7   05.02.2023

C:\Users\User\AppData\Local\Temp\ipykernel_11884\4128470349.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_1, conn)
C:\Users\User\AppData\Local\Temp\ipykernel_11884\4128470349.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_1 = pd.read_sql(query_2, conn)
C:\Users\User\AppData\Local\Temp\ipykernel_11884\4128470349.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_2 = pd.read_sql(query_3, conn)
C:\Users\User\AppData\Local\Temp\ipykernel_11884\4128470349.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_3 = pd.read_sql(query_4, conn)

In [53]:
print(df_2)

    kategorieid                     Name
0           1.0               Elektronik
1           2.0                 Kleidung
2           3.0                   Bücher
3           4.0                 Haushalt
4           5.0     Schönheit und Pflege
5           6.0       Sport und Freizeit
6           7.0      Küche und Esszimmer
7           8.0       Garten und Outdoor
8           9.0     Spielzeug und Spiele
9          10.0                    Möbel
10         11.0        Auto und Motorrad
11         12.0     Computer und Zubehör
12         13.0         Musikinstrumente
13         14.0         Filme und Serien
14         15.0               Tierbedarf
15         16.0  Gesundheit und Wellness
16         17.0                     Baby
17         18.0                  Schmuck
18         19.0                    Uhren
19         20.0               Bürobedarf
20          NaN

In [56]:
print(df_3)

    produktid                                       product_name  preis
0           1               Tiffany & Co. Diamant-Verlobungsring    121  \
1           2               LEGO Star Wars Millennium Falcon Set    184
2           3                      Fender Stratocaster E-Gitarre     40
3           4                                   Levi's 501 Jeans    190
4           5                    Yamaha YPG-235 Digital Keyboard    106
5           6                      Bulgari Serpenti Diamond Ring    245
6           7                                  Ikea Malm Kommode     16
7           8                Graco Pack 'n Play Portable Playard    161
8           9                            HP LaserJet Pro Drucker     53
9          10         Royal Canin Adult Trockenfutter f�r Katzen    271
10         11                     Dyson V11 Absolute Staubsauger     87
11         12                 David Yurman Cable Classic Armreif    294
12         13                          Pampers Swaddlers Diapers      8
13         14                        Moleskine Classic Notizbuch    269
14         15    Frontline Plus Floh- und Zeckenschutz f�r Hunde     25
15         16                              Pandora Charm-Armband    101
16         17                      Samsung Galaxy S21 Smartphone     76
17         18                                 Der Herr der Ringe    124
18         19                    Fitbit Charge 4 Fitness-Tracker    265
19         20               Instant Pot Duo Plus Schnellkochtopf     50
20         21                    Wilson Pro Staff Tennisschl�ger    124
21         22                        Monopoly Classic Brettspiel     45
22         23                         Swarovski Crystal Ohrringe    170
23         24                           Apple MacBook Pro Laptop    183
24         25                 Staedtler Triplus Fineliner Stifte    329
25         26                           Apple MacBook Pro Laptop    182
26         27  Game of Thrones: Die komplette Serie (DVD-Boxset)    279
27         28                           Fellowes Aktenvernichter      5
28         29                              Cartier Love Bracelet      2
29         30                        Trixie Kratzbaum f�r Katzen    289
30         31               Marvel's Avengers: Endgame (Blu-ray)    286
31         32                         Rolex Submariner Herrenuhr    267
32         33          Clarisonic Mia 2 Gesichtsreinigungsb�rste    155
33         34                                Coleman Campingzelt    137
34         35                         Adidas Ultraboost Sneakers     73
35         36                         Netflix Premium-Abonnement    241
36         37                      TAG Heuer Carrera Chronograph    253
37         38                                 Eames Lounge Chair    215
38         39                  Garmin Forerunner 245 GPS-Laufuhr     68
39         40                                    Zara Trenchcoat     52
40         41                      Michelin Pilot Sport 4 Reifen     93
41         42              Fisher-Price Infant-to-Toddler Rocker     56
42         43                             BabyBj�rn Baby Carrier    135
43         44                               WMF Besteckset Miami    108
44         45            Philips Sonicare elektrische Zahnb�rste    209
45         46                                Intex Easy Set Pool     93
46         47                          Pampers Swaddlers Diapers      1
47         48                  Alex and Ani Birthstone Halskette    156

    kategorieid
0            18
1             9
2            13
3             2
4            13
5            18
6            10
7            17
8            20
9            15
10            4
11           18
12           17
13           27
14           15
15           18
16            1
17            3
18           16
19            4
20            6
21            9
22           18
23           12
24           40
25            1
26           14
27           20
28           18
29           15
30           14
31           19
32            5
33            6
34            2
35           14
36           19
37           10
38            6
39            2
40           11
41           17
42           17
43            7
44           16
45            8
46           17
47           18